<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static('frontend/css/bootstrap.min.css') }}">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="{{ static('frontend/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
