{%- macro build_nav(current="home", active=False) %}
  {% for item in ['home', 'settings'] %}
    <li class="nav-item{% if current == item %} active{% endif %}">
      <a class="nav-link" href="{% if current == item and not active %}#{% else %}{{ url('frontend.' + item) }}{% endif %}">
        {{ item | title }}
        {% if current == item %}
          <span class="sr-only">(current)</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
{% endmacro -%}

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static('frontend/css/bootstrap.min.css') }}">
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">THWatch</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          {% block navigation %}
            {# Overwritten in child templates #}
            <span class="alert alert-danger">Call to <code>build_nav</code> missing!</span>
          {% endblock %}
        </ul>
        <div class="ml-auto">
          {% if request.user.is_superuser %}
            <a class="btn btn-secondary" href="/admin">Admin</a>
          {% endif %}
          <a class="btn btn-secondary" href="{{ url('frontend.logout') }}">Log out {{ request.user }}</a>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div class="container mt-4">
      {% block content %}<p class="alert alert-danger">Content missing!</p>{% endblock %}
    </div>
    <script src="{{ static('frontend/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
