{% extends "base.html.j2" %}

{% block title %}
  Here be dragons
{% endblock %}

{% block content %}
  <table class="table">
    <tr><th>Name</th><th>Pattern</th></tr>
    {% for p in patterns %}
      <tr><td>{{ p.name }}</td><td>{{ p.pattern }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}
