{% extends "base.html.j2" %}

{% block title %}
  THWatch: Login
{% endblock %}

{% block navbar %}{# Disable navigation on login page #}{% endblock %}

{% block content %}
  <div class="card mt-4">
    <h5 class="card-header">Please Log In</h5>
    <div class="card-body">
      {% if form.errors %}
        <div class="alert alert-danger">
          <h4 class="alert-heading">Login failed!</h4>
          {% for err in form.errors.__all__ %}
            <p class="mb-0">{{ err }}</p>
          {% endfor %}
          <hr/>
          <span class="form-text text-muted">
            If you lost your password, you can <a href="{{ url('password_reset') }}">request a reset</a>.
          </span>
        </div>
      {% endif %}
      <div class="card-text">
        <form method="POST">
          {{ csrf_input }}
          <div class="form-group">
            <label for="username">User Name</label>
            <input class="form-control" type="text" id="username" name="username" autofocus/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password"/>
          </div>
          <button type="submit" class="btn btn-primary mr-auto">Log in</button>
          <a href="{{ url('password_reset') }}" class="btn btn-warning float-right">I have lost my password</a>
          <a href="#" class="btn btn-success float-right mr-2">I want to get an account</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
