{% extends "base.html.j2" %}

{% block title %}
  Here be dragons
{% endblock %}

{% block content %}
  <form method="POST">
    {{ csrf_input }}
    {{ form }}
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
{% endblock %}
