{% extends "base.html.j2" %}

{% block title %}
  THWatch: Login
{% endblock %}

{% block navbar %}{# Disable navigation on login page #}{% endblock %}

{% block content %}
  <div class="card mt-4">
    <h5 class="card-header">{% trans %}Please Log In{% endtrans %}</h5>
    <div class="card-body">
      {% if form.errors %}
        <div class="alert alert-danger">
          <h4 class="alert-heading">{% trans %}Login failed!{% endtrans %}</h4>
          {% for err in form.errors.__all__ %}
            {# TODO: Translate form errors #}
            <p class="mb-0">{{ err }}</p>
          {% endfor %}
          <hr/>
          <span class="form-text text-muted">
            {% trans reset_url=url('password_reset') %}If you lost your password, you can <a href="%(reset_url)s">request a reset</a>.{% endtrans %}
          </span>
        </div>
      {% endif %}
      <div class="card-text">
        <form method="POST">
          {{ csrf_input }}
          <div class="form-group">
            <label for="username">{% trans %}User Name{% endtrans %}</label>
            <input class="form-control" type="text" id="username" name="username" autofocus/>
          </div>
          <div class="form-group">
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input class="form-control" type="password" name="password"/>
          </div>
          <button type="submit" class="btn btn-primary mr-auto">{% trans %}Log in{% endtrans %}</button>
          <a href="{{ url('password_reset') }}" class="btn btn-warning float-right">
            {% trans %}I have lost my password{% endtrans %}
          </a>
          <a href="{{ url('frontend.request-account')}} " class="btn btn-success float-right mr-2">
            {% trans %}I want to request an account{% endtrans %}
          </a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
