{% extends "base.html.j2" %}

{% block title %}
  THWatch: Reset your password
{% endblock %}

{% block navbar %}{# disable navbar #}{% endblock %}

{% block content %}
  <div class="card mt-4">
    <h5 class="card-header">Enter a new password</h5>
    <div class="card-body">
      <p>
        Please enter a new password below.
      </p>
      <form method="POST">
        {{ csrf_input }}
        <div class="form-group">
          <label for="email">New Password</label>
          <input class="form-control{% if 'new_password1' in form.errors %} is-invalid{% endif %}"
                 type="password" id="new_password1" name="new_password1" autofocus/>
          {% if 'new_password1' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.new_password1 | join(' ') }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="email">New Password (repeat)</label>
          <input class="form-control{% if 'new_password2' in form.errors %} is-invalid{% endif %}"
                 type="password" id="new_password2" name="new_password2" autofocus/>
          {% if 'new_password2' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.new_password2 | join(' ') }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change my password</button>
      </form>
    </div>
  </div>
{% endblock %}
