{% extends "base.html.j2" %}

{% block title %}
  THWatch: Password changed
{% endblock %}

{% block navbar %}{# deactivate navbar #}{% endblock %}

{% block content %}
  <div class="card mt-4 text-white bg-success">
    <h5 class="card-header">Password reset request received</h5>
    <div class="card-body">
      Your password has been changed.
      You can <a class="text-dark" href="{{ url('frontend.home') }}">go back to the login page</a> now.
    </div>
  </div>
{% endblock %}
