{% extends "base.html.j2" %}

{% block title %}
  THWatch: Reset your password
{% endblock %}

{% block navbar %}{# disable navbar #}{% endblock %}

{% block content %}
  <div class="card mt-4">
    <h5 class="card-header">Request a password reset</h5>
    <div class="card-body">
      <p>
        Please enter your email address. If we have a record for a user with that address, a password reset link
        will be sent to you shortly.
      </p>
      <form method="POST">
        {{ csrf_input }}
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control{% if 'email' in form.errors %} is-invalid{% endif %}"
                 type="email" id="email" name="email" autofocus/>
          {% if 'email' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.email | join(' ') }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Reset my password</button>
      </form>
    </div>
  </div>
{% endblock %}
