{% extends "base.html.j2" %}

{% block title %}
  THWatch: Change your password
{% endblock %}

{% block navigation %}
  {{ build_nav(current="settings", active=True) }}
{% endblock %}

{% block content %}
  <div class="card mt-4 text-white bg-success">
    <h5 class="card-header">Password changed</h5>
    <div class="card-body">
      Your password was changed successfully.
    </div>
  </div>
{% endblock %}
