{% extends "base.html.j2" %}

{% block title %}
  THWatch: Change your password
{% endblock %}

{% block navigation %}
  {{ build_nav(current="settings", active=True) }}
{% endblock %}

{% block content %}
  <div class="card mt-4">
    <h5 class="card-header">Change your password</h5>
    <div class="card-body">
      <form method="POST">
        {{ csrf_input }}
        <div class="form-group">
          <label for="old_password">Old Password</label>
          <input class="form-control{% if 'old_password' in form.errors %} is-invalid{% endif %}"
                 type="password" id="old_password" name="old_password" autofocus/>
          {% if 'old_password' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.old_password | join(' ') }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="new_password1">New Password</label>
          <input class="form-control{% if 'new_password1' in form.errors %} is-invalid{% endif %}"
                 type="password" name="new_password1"/>
          {% if 'new_password1' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.new_password1 | join(' ') }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="new_password2">New Password (repeat)</label>
          <input class="form-control{% if 'new_password2' in form.errors %} is-invalid{% endif %}"
                 type="password" name="new_password2"/>
          {% if 'new_password2' in form.errors %}
            <div class="invalid-feedback">{{ form.errors.new_password2 | join(' ') }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
    </div>
  </div>
{% endblock %}
