{% extends "base.html.j2" %}

{% block title %}
  THWatch: Change your password
{% endblock %}

{% block navbar %}{# deactivate navbar #}{% endblock %}

{% block content %}
  <div class="card mt-4 text-white bg-warning">
    <h5 class="card-header">Password reset request received</h5>
    <div class="card-body">
      Your password reset request has been received. If the email address you entered matches one of our users, you
      will receive a password reset email shortly.
      <hr/>
      <div class="d-flex">
        <a href="{{ url('frontend.home') }}" class="btn btn-dark btn-sm text-white ml-auto">Take me back to the login page</a>
      </div>
    </div>
  </div>
{% endblock %}
