{% extends "base.html.j2" %}

{% block title %}
  THWatch: Settings
{% endblock %}

{% block navigation %}
  {{ build_nav(current="settings") }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% if active_page == "notifications" %}
          <li class="nav-item">
            <a class="nav-link active" href="#">Notifications<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="?page=authentication#">Authentication</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="?page=notifications#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Authentication<span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="card-body">
      <div class="card-text">
        {% if active_page == "notifications" %}
          {% if saved_settings %}
            <p class="alert alert-success">
              Your changes have been saved!
            </p>
          {% endif %}
          <form method="POST">
            {{ csrf_input }}
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="pushover-user">Pushover User Key</label>
              <input class="col-sm-9 form-control"
                     type="text" name="pushover-user" id="pushover-usr" value="{{ settings.pushover_user }}"/>
            </div>

            <input type="hidden" value="update-pushover" name="action"/>
            <button type="submit" class="mt-1 btn btn-primary">Save</button>
          </form>
        {% else %}
          <a class="btn btn-primary" href="{{ url('frontend.password-change') }}">Change Password</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
